.bredcrumb{
    text-align: center;
    padding: 50px 0;
    box-shadow: 0px 0px 15px 2px rgba(32, 35, 74, 0.4);
    &__items{
        li{
            display: inline-block;
            a{
                font-weight: 600;
                font-size: 22px;
                line-height: 1.5;
                @media only screen and (max-width: $mbl-land) {
                    font-size: 13px;
                }
            }
        }
    }
    &__title{
        font-weight: 600;
        font-size: 80px;
        line-height: 1.5;
        color: $color-dark-2;
        text-transform: uppercase;
        @media only screen and (max-width: $tab-land) {
            font-size: 40px;
        }
        @media only screen and (max-width: $mbl-land) {
            font-size: 20px;
        }
    }
}
.dark{
    .bredcrumb{
        background-color: #19212F;
        &__title{
            color: $color-white;
        } 
    }
}