button {
	border: none;
	outline: none;
	cursor: pointer;
}

.btn {
	padding: 1.7rem 4rem;
	border: none;
	font-size: 3rem;
	font-weight: bold;
	color: $color-white;
	letter-spacing: -1px;
	transition: all 0.3s;
	line-height: 1;
}

.btn-one{
	display: inline-block;
	padding: 15px 30px;
	background-color: $color-dark-2;
	color: $color-white !important;
	font-size: 16px;
	font-family: $font-primary !important;
	border-radius: 30px;
	text-transform: uppercase !important;

}
.dark .btn-one{
	background-color: transparent;
	border: 1px solid $color-primary;
	transition: .3s all linear;
	&:hover{
		background: $color-primary;
		box-shadow: 0px 0px 30px rgba(0, 255, 226, 0.8);
		backdrop-filter: blur(7.5px);
		color: $color-dark-2 !important;
	}
}
.btn-two{
	display: inline-block;
	padding: 8px 20px;
	// background-color: $color-primary;
	color: $color-white !important;
	font-size: 16px;
	font-family: $font-primary !important;
	border-radius: 5px;
	text-transform: uppercase !important;
	border: 1px solid $color-primary;
	background-color: transparent;
	&:hover{
		background: $color-primary;
			box-shadow: 0px 0px 30px rgba(0, 255, 226, 0.8);
			backdrop-filter: blur(7.5px);
			color: $color-dark-2 !important;
	}
}
.btn-three{
	display: block;
	padding: 8px 20px;
	background-color: $color-white;
	color: $color-black !important;
	font-size: 16px;
	font-family: $font-primary !important;
	border-radius: 5px;
	text-transform: uppercase !important;
	margin-top: 15px;
	width: 100%;
}
button.btn-one.btn-request {
	border-radius: 12px;
	margin-top: 60px;
	border-radius: 50px;
}
.custom-btn2{
	text-transform: capitalize;
	display: inline-block;
	background-color: $color-dark-2;
	color: $color-white;
	padding: 10px 30px;
	margin-top: 20px;
}
.dark{
	.custom-btn2{
		border: 1px solid $color-primary;
		background-color: transparent;
		filter: drop-shadow(0px 0px 30px #00FFE2);
		backdrop-filter: blur(7.5px);
		transition: .3s linear;
		&:hover{
			background: $color-primary;
				box-shadow: 0px 0px 30px rgba(0, 255, 226, 0.8);
				backdrop-filter: blur(7.5px);
				color: $color-dark-2 !important;
		}
	}
}

.review-login-btn{
	background: #20234A;
	border-radius: 25px;
	font-weight: 500;
	font-size: 16px;
	line-height: 2;
	text-transform: capitalize;
	color: $color-white;
	display: block;
	text-align: center;
	padding: 10px;
	width: 100%;
}
.dark{
	.review-login-btn{
		background: transparent;
		/* neon */
		border: 1px solid $color-primary;
		color: #fff;
		box-shadow: 0px 0px 30px rgba(0, 255, 225, 0.377);
		backdrop-filter: blur(7.5px);
		transition: all 0.3s;

		&:hover{
			background: $color-primary;
			color: #20234A;
		}
	}

}