.cart{
    &__area{
        margin-top: 100px;
        margin-bottom: 100px;
        @media only screen and (max-width: $mbl-land) {
            margin-top: 50px;
        }
        &-wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 70px;
            @media only screen and (max-width: $laptop-land) {
                gap: 0;
            } 
            @media only screen and (max-width: $tab-land) {
                grid-template-columns: auto;
                grid-gap: 40px;
			}
        }
        &-items{
            display: grid;
            grid-template-columns: 410px 130px 190px auto;
            border-bottom: 1px solid $color-gray5;
            padding: 20px 0;
            @media only screen and (max-width: $laptop-port) {
                grid-template-columns: auto auto auto;
			}
            @media only screen and (max-width: $mbl-land) {
                grid-template-columns: auto auto;
			}
            &:first-of-type{
                border-top: 1px solid $color-gray5;
            }
        }
        &-item{
            &:nth-child(1){
                order: 1;
            }
            &:nth-child(2){
                order: 3;
            }
            &:nth-child(3){
                order: 2;
            }
            &:nth-child(4){
                order: 4;
            }
            &:last-child{
                padding-top: 10px;
            }
            img{
                padding: 0 18px;
            }
        }
        &-headingone{
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.2;
            text-transform: uppercase; 
            color: #000000 !important;
        }
        &-inneritem{
            display: flex;
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $color-gray5;
            }
            p{
                max-width: 200px;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: $color-dark-3;
            }
        }
        &-footer{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: $mbl-port) {
               flex-wrap: wrap;
			}
            form{
                position: relative;
                display: flex;
                flex: 2;
                input{
                    height: 55px;
                    width: 100%;
                    max-width: 285px;
                    padding: 10px;
                    @media only screen and (max-width: $mbl-port) {
                        width: inherit;
                        border: 1px solid #ddd;
                     }
                }
            }
        }
        &-coupon{
            display: inline-block;
            padding: 17px 33px;
            background-color: $color-dark-2;
            color: $color-white;
            text-transform: uppercase;
            border: 1px solid $color-gray5;
            margin-left: 20px;
            font-weight: 600;
            @media only screen and (max-width: $laptop-port) {
                padding: 11px 18px;
                font-size: 13px;
			}
            @media only screen and (max-width: $mbl-port) {
                margin-left: 0;
             }
        }
        &-innerright{
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $color-gray5;
                padding: 14px;
                margin-bottom: 14px;
                &:last-of-type{
                    border: 0;
                }
            }
            h4{
                font-weight: 700;
                font-size: 28px;
                line-height: 1.5;
                text-transform: uppercase;
                color: $color-dark-2;
                margin-bottom: 30px;
            } 
            span{
                font-weight: 600;
                font-size: 18px;
                line-height: 1.1;
                text-transform: uppercase;
                color: $color-dark-2;
            } 
        }
    }
}
.increment {
    max-width: 109px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid #1e1e1e;
    span{
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
        padding: 10px;
        &:nth-child(2){
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }
    }
}
.cart__area-footer form{
    @media only screen and (max-width: $mbl-port) {
        margin-bottom: 10px;
    } 
}


.contact__form-innerr {
    max-width: 930px;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 473px;
    gap: 30px;
    @media only screen and (max-width: $tab-land) {
        grid-template-columns: auto;
    }
}
.checktitle {
    text-align: left;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-dark-2;
    margin-bottom: 30px;
}
.contact__form-field.field-2 input {
    border-radius: 12px;
}
.contact__form-field.field-2 label {
    color: $color-dark-2;
    span{
        color: $color-red;
    }
}

.field-two-images{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    span{
        display: inline-block;
        width: 130px;
        background-color: #F8F8F8;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        padding: 8px 10px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-of-type{
            margin-right: 0;
        }
    }
}
.checkout-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-dark-2;
    display: block;
    margin-bottom: 25px;
    margin-top: 50px;
}
.contact__form-checkbtn{
    padding: 15px 60px;
    color: $color-white;
    background-color: $color-dark-2;
    border-radius: 15px;
    margin-top: 70px;
}
.dark{
    .checktitle{
        color: $color-primary;
    }
    .contact__form-field.field-2 label{
        color: $color-white;
    }
    .checkout-title{
        color: $color-primary;  
    }
    .contact__form-checkbtn{
        background-color: $color-primary;
    }
    .contact__form-wrapper{
        background: #19212F;
        border: 2px solid $color-primary;
        box-shadow: 0px 0px 30px 2px rgba(0, 255, 226, 0.25);
        border-radius: 10.7463px;
    }
    .contact__form-field.field-2 input{
        background-color: transparent;
        color: $color-white;
    }
    .contact__form-field textarea{
        background-color: transparent;
        color: $color-white;
    }
}
.dark{
    .cart__area-headingone{
        color: $color-primary !important;
    }
    .cart__area-inneritem p{
        color: $color-white;
    }
    .increment{
        border: 1px solid $color-white;
    }
    .increment span:nth-child(2){
        border-left: 1px solid $color-white;
        border-right: 1px solid $color-white;
    }
    .cart__area-inneritem span{
        color: $color-white;
    }
    .cart__area-coupon{
        background-color: $color-primary;
        color: $color-dark-2;
    }
    .cart__area-footer form input{
        border: 1px solid $color-primary;
    }
    .cart__area-innerright h4{
        color: $color-white;
    }
    .cart__area-innerright span{
        color: $color-white;
    }
}
.contact__form-wrapper.contact__form-checkout {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #FFFFFF;
    border: 0.25px solid #20234A;
    box-shadow: 0px 0px 20px 2px rgba(32, 35, 74, 0.1);
    border-radius: 12px;
    @media only screen and (max-width: $tab-port) {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    @media only screen and (max-width: $mbl-land) {
        border: 0;
    } 
}
.dark{
    .contact__form-wrapper.contact__form-checkout{
        background: #19212F;
        border: 2px solid #00FFE2;
        box-shadow: 0px 0px 30px 2px rgba(0, 255, 226, 0.25);
        border-radius: 10.7463px;
    }

}
.checkout_total{
    background: rgba(74, 77, 116, 0.2);
    border-radius: 10px;
    border: 0 !important;
    span{
        &:first-child{
            font-weight: 700;
        }
        &:last-child{
            font-weight: 600;
        }
    }
}
.checkout_subtotal {
    padding: 14px 0 !important;
}
.payment-select-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #20234A;
    padding: 23px 6px;
}
.payment-logos {
    display: block !important;
    padding: 0 !important;
    div{
        background: #FFFFFF;
        border: 0.25px solid #999999 !important;
        border-radius: 12px !important;
    }
}
.my-wallet{
    justify-content: flex-start !important;
    gap: 20px !important;
    img{
        align-self: flex-start !important;
    }
}
.first-disabled {
    background: rgba(32, 35, 74, 0.6);
}
.dark{
    .dashboard__title-info{
        background-color: #19212F;
    }
    .cart__area-coupon{
        border: 0;
    }
    .cart__area-innerright{
        border: 1px solid #979797;
        border-radius: 0;
    }
    .dashboard__profile-itemm span{
        color: $color-white;
    }
    .dashboard__profile-itemm .order-close-icon{
        filter: brightness(100);
    }
}
.cart__area-right{
    // .img-btn img {
    //     width: 100px;
    //     height: 50px;
    //   }
      .img-btn > input {
        display: none;
      }
      .img-btn {
        cursor: pointer;
        border: 5px solid transparent;
        position: relative;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
      }     
}
.payment-logos {
    position: relative;
    img{
        max-width: 100%;
    }
}
.cart__area-right.add-shadow{
    box-shadow: 0px 0px 20px 2px rgba(32, 35, 74, 0.1);
    border-radius: 12px;
    padding: 28px;  
}
.dark{
    .contact__form-field.field-2 input{
        background: rgba(0, 255, 226, 0.2);
        border: 0.5px solid #DDDDDD;
        border-radius: 12px;
        &::placeholder{
            color: $color-white;
        }
    }
    .payment-logos{
        background: #19212F;
        border-radius: 12px;
    }  
    .cart__area-right.add-shadow{
        border: 1px solid #979797;
        border-radius: 0;
    }
    .cart__area-innerright{
        border: 0;
    }
    .payment-select-title{
        color: $color-white;
    }
}
.increment_decrement.input-increment-white {
    height: 100%;
    background: transparent;
    border-left: 1px solid $color-dark-2;
    border-right: 1px solid $color-dark-2;
    color: $color-dark-2;
    width: 34px;
    padding: 0 8px;
}
.dark{
    .increment_decrement.input-increment-white{
        color: $color-primary;
    }
    .cart-btn-wishlist{
        background-color: $color-primary;
        color: $color-dark-2 !important;
    } 
}
#payment-input, #payment-input2, #payment-input3, #payment-input4{
    appearance: none;
}
input#payment-input:checked ~ .selected-bg {
    background: #FFB503 !important;
    border: 0 !important;
}
input#payment-input2:checked ~ .selected-bg {
    background: #FFB503 !important;
    border: 0 !important;
}
input#payment-input3:checked ~ .selected-bg {
    background: #FFB503 !important;
    border: 0 !important;
}
input#payment-input4:checked ~ .selected-bg {
    background: #FFB503 !important;
    border: 0 !important;
}
.selected-bg{
    background: #FFFFFF !important;
    border: 0.25px solid #999999 !important;
    border-radius: 12px;
    text-align: center;
    padding: 10px !important;
    margin-bottom: 15px;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.about__have-section p {
    color: $color-dark-2;
}