.client-section {
	.client {
		.swiper {
			width: 100%;
			height: auto;

			.swiper-button-next:after,
			.swiper-button-prev:after {
				display: none !important;
			}
			.swiper-button-next,
			.swiper-button-prev {
				i {
					font-size: 2.2rem;
					color: #444444;
				}
			}
		}

		&__item {
			text-align: center;
			background: transparent;
			border-radius: 2.5rem;
			padding: 6rem;
			max-width: 90rem;
			width: 100%;
			margin: 0 auto;

			.symbol {
				font-size: 8rem;
				margin-top: -3rem;
				color: $color-primary;
			}
			.desc {
				display: flex;
				align-items: flex-start;
			}

			.desc .text {
				font-weight: 400;
				font-size: 1.8rem;
				line-height: 2.5rem;
				text-align: center;
				color: #444444;
			}

			h3 {
				color: #222222;
			}

			.title {
				color: #444444;
				font-size: 1.6rem;
			}
		}

		&__img {
			@media only screen and (max-width: $tab-land) {
				display: none;
			}
		}

		&__profile {
			height: 6.4rem;
			width: 6.4rem;
			margin: 0 auto;

			img {
				@include img-size;
			}
		}
	}
}
