.footer-section {
	.footer {
		&__item {
			@media only screen and (max-width: $mbl-land) {
				text-align: center;
			}

			h3 {
				font-weight: 600;
				font-size: 24px;
				line-height: 1.5;
				color: $color-white;
			}

			.btn {
				font-size: 1.6rem;
				font-weight: 400;
				border: 1px solid $color-black;
				border-radius: 3rem;
				padding: 1.5rem 3.5rem;
			}

			.btn-docs {
				background-color: $color-black;
				color: $color-white;

				&:hover {
					background-color: transparent;
					color: $color-black;
				}
			}
			.btn-api {
				background-color: transparent;
				color: $color-black;

				&:hover {
					background-color: $color-black;
					color: $color-white;
				}
			}
		}

		.logo-area {
			.logo-white {
				display: none;
			}
			.logo-black {
				display: block;
			}

			.social {
				list-style: none;

				@media only screen and (max-width: $mbl-land) {
					justify-content: center;
				}

				&__link {
					background-color: $color-primary;
					height: 30px;
					width: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					i {
						color: $color-white;
						font-size: 1.6rem;
					}
				}
			}
		}

		.list {
			list-style: none;

			.item {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}

				.link {
					font-size: 14px;
					line-height: 25px;
					color: #EEEEEE;
				}
			}
		}

		&__btns {
			@media only screen and (max-width: $mbl-land) {
				justify-content: center;
			}
		}
	}
}

.copyright{
	p{
		background: #1E1E1E;
		color: $color-white;
		text-align: center;
		margin-bottom: 0;
		padding: 25px 0;
		text-transform: capitalize;
	}
}
.footer-section{
	background: linear-gradient(180deg, #17202E 0%, rgba(23, 32, 46, 0.9) 100%);
	padding: 100px 0;
}

@media only screen and (max-width: $mbl-land) {
	button.btn-one.btn-request {
		border-radius: 12px;
		margin-top: 20px;
	}
}
