.header {
	&__wrapper {
		min-height: 78vh;
		align-items: center;
		// padding-top: 8rem;
		@media only screen and (max-width: $laptop-land) {
			min-height: 48vh !important;
		}
		@media only screen and (max-width: $tab-land) {
			display: block;
			padding: 100px 0;
		}
		// @media only screen and (max-width: $tab-land) {
		// 	display: flex;
		// 	padding: 100px 0;
		// 	gap: 30px;
		// 	.col-12{
		// 		&:first-child{order: 2;}
		// 		&:first-child{order: 1;}
		// 	}
		// }
		@media only screen and (max-width: $mbl-land) {
			padding: 20px 0;
			text-align: center;
		}
	}

	&__content {
		padding-right: 4rem;
		@media only screen and (max-width: $mbl-land) {
			padding-right: 0;
			h1.heading {
				font-size: 18px;
			}
			.text {
				margin-bottom: 30px !important;
			}
			h2.heading {
				font-size: 2rem !important;
			}
		}
		.text {
			font-size: 1.8rem;
			line-height: 180%;
			color: #999999;
			margin-bottom: 35px;
		}
	}
	&__search {
		border: 1px solid #000133;
		// filter: drop-shadow(0px 4px 4px rgba(0, 1, 51, 0.25)) drop-shadow(4px 4px 15px #000133);
		border-radius: 40px;
		border-radius: 10rem;
		padding-right: 2rem;
		border-radius: 40px;
		input {
			border: none;
			outline: none;
			background-color: transparent;
			padding: 2rem 1rem 2rem 1rem;
		}

		label {
			padding-left: 3.2rem;
		}

		select {
			background: transparent;
			border: none;
			outline: none;
			color: $color-black;

			option {
				background-color: transparent;
			}
		}
	}

	.account {
		&__wrapper {
			@include flex-center;

			img {
				height: 36rem;
				width: 36rem;
			}
		}

		&__dotted {
			height: 27.3rem;
			width: 27.3rem;
			border-radius: 50%;
			// border: 3px dashed red;
			position: absolute;
			@include pos-center;
		}

		&__gredient {
			height: 27.3rem;
			width: 27.3rem;
			border-radius: 50%;
			// border: 5px solid red;
			// border-image: linear-gradient(red, blue) 1;
			// border-width: 5px;
			// border-style: solid;
			// border-radius: 50%;
			position: absolute;
			@include pos-center;
		}

		&__profile {
			height: 5.9rem;
			width: 5.9rem;
			border-radius: 50%;
			background-color: $color-primary;
			position: absolute;
			top: 66%;
			left: 15%;
			// transform: translate(-50%, -50%);
			@include flex-center;
			z-index: 4;

			img {
				height: 2.8rem;
				width: 2.8rem;
				border-radius: 50%;
			}

			&::after {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				background: #000;
				opacity: 0.2;
				position: absolute;
				top: 0;
				left: 0;
				transform: scale(1.4);
				border-radius: 50%;
				z-index: 3;
			}
		}

		&__text {
			color: $color-white;
			position: absolute;
			@include pos-center;
			text-align: center;
			// width: 100%;
		}
	}
}


// circular animation 

.circle-wrapper {
	position: relative;
	display: block;
	height: 270px;
	width: 270px;
	background: transparent;
	border-radius: 50%;
	position: absolute;
	// @media only screen and (max-width: $tab-land) {
	// 	display: none;
	// }
  }
  .circle-wrapper__circle {
	width: 100%;
	height: 100%;
	animation: rotate 43.33s linear infinite;
  }
  .circle-wrapper__circle:after, .circle-wrapper__circle:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
  }
  .circle-wrapper__circle:before {
	// background-image: url('../img/gredient.png');
	transform: translateY(-50%);
    transform: translateX(-50%);
    animation-name: r1;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	background-repeat: no-repeat;
    width: 60px;
	height: 60px;
    border-radius: 50%;
    animation: rotate 53.33s linear infinite;
  }
  .circle-wrapper__circle:after {
	top: 50%;
    border-radius: 0 0 200px 200px;
    background-image: linear-gradient(90deg, #6934D1 0.01%, #00FFE2 100.03%);
  }
  .circle-wrapper__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	height: 90%;
	width: 90%;
	background: linear-gradient(90deg, #080A24 0.01%, #1A1E42 99.99%);
	border-radius: 50%;
	// @media only screen and (max-width: $mbl-land) {
	// 	display: none;
	// }
  }
  
  @-webkit-keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .description {
	margin-bottom: 15px;
  }
  
  .time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

  }
  .time__value, .time__unit {
	display: block;
	text-align: center;
	line-height: 1;
  }
  .time__value {
	font-size: 36px;
  }
  .time__unit {
	font-size: 24px;
  }

.hovercart-total.bg-total {
	background-color: #2E326D;
	span{
		font-size: 16px;
	}
}
.hovercart{
    width: 365px;
	background-color: $color-dark-2;
	border-radius: 6px;
	padding: 30px;
	position: absolute;
	z-index: 99999;
	top: 115%;
	opacity: 0;
	visibility: hidden;
	transition: .3s linear;
	left: -150px;
	@media only screen and (max-width: $tab-land) {
		left: -165px;
	}
	&-hoverwrapper{
		display: flex;
		gap: 10px;
		color: $color-white;
		position: relative;
	    padding-bottom: 15px;
    	margin-bottom: 15px;
		border-bottom: 1px solid #090B26;
		&:last-of-type{
			border-bottom: 0;
		}
		strong{
			font-size: 14px;
			color: #999999;
		}
		p{
			font-size: 12px;
		}
		span{
			font-size: 18px;
		}
	}
	&-thumb{
		background-color: #D9D9D9;
		padding: 7px 5px;
		align-self: flex-start;
		img{
			width: 43px;
			height: 43px;
		}
	}
	&-total{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px 15px;
		color: $color-white;
		margin-top: 20px;
		margin-bottom: 15px;
		a{
			color: $color-white !important;
		}
	}
}

.hctitle{
	font-size: 22px;
	font-weight: 700;
	color: $color-white;
	margin-bottom: 30px;
}
.hovercart.hovercart-wishlist {
    width: 540px;
}
.hovercart-wishlistwrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
	color: $color-white;
	padding: 14px 0;
	border-bottom: 1px solid #545454;;
}
.hovercart-wishthumb {
    display: flex;
    font-size: 12px;
}
img.wishthumb {
    width: 34px;
    margin-right: 10px;
	background-color: #D9D9D9;
	padding: 7px 5px;
	align-self: flex-start;
}
.hover-close {
    position: absolute;
    right: 15px;
    filter: brightness(100);
    top: 0;
    width: 10px;
    right: 0;
}
img.hover-wish {
    filter: brightness(100);
    align-self: flex-start;
    align-content: center;
    padding-top: 10px;
    padding-right: 10px;
}
.hovercart-content{
	p{
		font-size: 16px;
		padding: 3px 0;
	}
}
.openacount{
	font-size: 24px;
	text-align: center;
	a{
		line-height: 1.5 !important;
		color: $color-white;
	}
}
.hovercart-content strong {
    color: #999999;
    font-size: 14px;
}
.cart-title-5{
	font-size: 18px;
	color: $color-white;
}

.hero-circle-doted {
	background: linear-gradient(90deg, #080A24 0.01%, #1A1E42 99.99%);
    border-radius: 50%;
    padding: 50px;
	@media only screen and (max-width: $tab-land) {
		padding: 25px !important;
	}
	@media only screen and (max-width: $mbl-land) {
		padding: 14px !important;
	}
}

.nav__right .login-two{
	font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: #fff !important;
}




// image rotation 

@keyframes r {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes r1 {
	from {
	  transform: rotate(360deg);
	}
  
	to {
	  transform: rotate(0deg);
	}
  }
  
.roatate_me {
	width: 270px;
    height: 270px;
	position: absolute;
	border-radius: 100%;
	top: 0;
	left: 0;
	transform: translateY(-50%);
	transform: translateX(-50%);
	z-index: 99;
	animation-name: r;
	animation-duration: 45.33s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
.roatate_me img {
	position: absolute;
	left: 10%;
	top: 0;
	width: 60px !important;
	height: 60px !important;
	transform: translateY(-50%);
	transform: translateX(-50%);
	animation-name: r1;
	animation-duration: 45.33s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }

  /*
    mobile menu css
*/
@media (min-width:991px){
	.responsive_mobile_menu{
		display: none;
	}
}
.mobile_right i {
    font-size: 30px;
}
.responsive_mobile_menu{
    background-color: $color-primary;
}
.mobile_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.mobile_info_open {
    max-width: 300px;
    background: $color-white;
    padding: 23px;
    position: fixed;
    top: 0;
    height: 100%;
    width: 350px;
    left: -300px;
    z-index: 9999;
    transition: .3s ease;
}
.mobile_info_open.show{
    left: 0;
}
.mobile_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.mobile-logo img {
    width: 100px;
}
.mobile-menu li{
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
}

.mobile-menu li a {
    color: var(--black-2);
}
.mobile_info_open.show{
	.nav__link {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.9rem;
		text-transform: uppercase;
		color: #000133;
		border-bottom: 2px solid transparent;
		padding-bottom: 0.5rem;
		transition: all 0.3s;
		padding: 0 0;
	}
	.container{
		padding: 0 !important;
	}
}

@media (max-width:991px){
	.nav__logo {
		display: none !important;
	}
	.nav__wrapper {
		justify-content: center !important;
	}
}
.mobile_left .logo img {
    max-width: 110px;
}
// stickey header 

.header-sticky.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 99;
    padding: 15px 0;
}

// create overlay 
.offcanvas-overlay{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}
.offcanvas-overlay.overlay-open{
    opacity: 1;
    visibility: visible;
}
.mobile-logo img {
    width: 70px;
}


.overflow-h{
	overflow: hidden;
}



.hello {
	height: 350px;
	width: 350px;
	margin: auto;
	position: relative;
}

.loader {
	position: relative;
	width: 300px;
	height: 300px;
	padding: 50px;
	border-radius: 50%;
	background: rgb(0, 255, 226);
	background: linear-gradient(90deg, rgba(0, 255, 226, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(105, 52, 209, 1) 100%);
	animation: animate 2s linear infinite;
	margin: auto;

}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		filter: hue;
		transform: rotate(360deg);
	}
}

.loader:before {
	content: '';
	position: absolute;
	top: 6px;
	Left: 6px;
	right: 6px;
	bottom: 6px;
	background: linear-gradient(90deg, #080A24 0.01%, #1A1E42 99.99%);
	border-radius: 50%;
	z-index: 1000;
}

.loader:after {
	content: '';
	position: absolute;
	top: 0px;
	Left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgb(0, 255, 226);
	background: linear-gradient(90deg, rgba(0, 255, 226, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(105, 52, 209, 1) 100%);
	border-radius: 50%;
	z-index: 1000;
	z-index: 1;
	filter: blur(20px);
}

.hello .text {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 197px;
	height: 99px;
	z-index: 999;
}
.hero-dis{
	color: $color-white;
	font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}