
.nav {
	.container {
		@media only screen and (max-width: $tab-land) {
			max-width: 100%;
		}
	}
	.main-nav {
		background-color: #090b26;
		padding: 1rem 0;
		width: 100%;
	}

	&__right {
		gap: 6rem;

		@media only screen and (max-width: $tab-land) {
			gap: 3rem;
		}

		.login {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2.5rem;
			text-transform: uppercase;
			color: $color-white;
		}

		.wishlist,
		.cart {
			position: relative;
			&:hover{
				.hovercart{
					opacity: 1;
					visibility: visible;
					top: 100%;
				}
			}

			&__number {
				position: absolute;
				right: -1rem;
				top: -1rem;
				height: 2.1rem;
				width: 2.1rem;
				font-weight: 900;
				font-size: 1.6rem;
				display: flex;
				align-items: center;
				color: $color-dark-2;
				background-color: $color-primary;
				border-radius: 50%;
				@include flex-center;
				border: 1px solid $color-dark-2;
			}
		}
	}

	&__icon {
		i {
			font-size: 2rem;
			color: $color-white;
		}
	}

	.btn {
		padding: 0;
		background-color: transparent;
		height: 2rem;
		width: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.icon {
			fill: $color-white;
			height: 100%;
			width: 100%;
		}
	}

	.btn-light {
		display: none;
	}
	.btn-dark {
		display: flex;
	}

	&__links {
		background-color: $color-white;
		box-shadow: 0px 0px 25px 10px rgba(0, 1, 51, 0.25);
		width: 100%;

		@media only screen and (max-width: $tab-land) {
			display: none;
		}
	}

	&__list {
		list-style: none;
	}
	&__item{
		position: relative;
		&:hover{
			.nav__dropdown{
				opacity: 1;
				visibility: visible;
				top: 100%;
			}
		}

	}
	&__dropdown{
		font-size: 16px;
		background: #090B26;
		list-style: none;
		min-width: 300px;
		border-radius: 5px;
		padding: 35px 40px;
		position: absolute;
		top: 110%;
		z-index: 99999;
		transition: linear .2s;
		opacity: 0;
		visibility: hidden;
		left: -150px;
		li{
			margin-bottom: 10px;
			a{
				color: $color-white;
				&:hover{
					color: $color-primary;
				}
			}
		}
	}

	&__link {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.9rem;
		text-transform: uppercase;
		color: #000133;
		border-bottom: 2px solid transparent;
		padding-bottom: 0.5rem;
		transition: all 0.3s;
		padding: 3.7rem 0;
		display: block;
		@media only screen and (max-width: $laptop-land) {
			font-size: 11px !important;
		}
	}

	&__link:hover,
	.active {
		border-bottom: 2px solid #000133;
	}
}

.nav__logo img {
	@media only screen and (max-width: $mbl-land) {
		max-width: 80px;
	}
}
.dark{
	.nav__link:hover,
	.active {
		border-bottom: 2px solid $color-primary;
	}
}