.popup{
    &__login{
        margin-bottom: 100px;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 999999;
        right: 0;
        display: none;
        &-loginone{
            margin: auto;
            background: $color-white;
            border: 1px solid #20234A;
            box-shadow: 0px 0px 15px 2px rgba(32, 35, 74, 0.4);
            border-radius: 12px;
            position: relative;
            max-width: 720px;
            @media only screen and (max-width: $mbl-land) {
                padding-top: 20px;
			}
            form{
                max-width: 680px;
                margin: auto;
            }
        }

        &-footer{
            background: #222654;
            border-radius: 0px 0px 12px 12px;
            text-align: center;
            padding: 40px 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            color: $color-white;
            *{
                display: block;
            }
            img{
                margin: auto;
            }
            a{
                color: $color-white !important;
                font-weight: 700;
                font-size: 32px;
                line-height: 2.1;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                
            }
        }
    }
    &__icon{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
.popup__register {
    margin-bottom: 100px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 999999;
    right: 0;
    display: none;
}
.mb-100{
    margin-bottom: 100px;
    @media only screen and (max-width: $mbl-land) {
        margin-bottom: 50px;
    }
}

.dark{
    .popup{
        &__login{
            &-loginone{
                background: #19212F;
                border: 2px solid $color-primary;
                box-shadow: 0px 0px 30px 2px rgba(0, 255, 226, 0.25);
                border-radius: 12px;
            }
            &-footer{
                background: #20293A;
            }
        }
    }
    .popup__login-loginone{
        input{
            background-color: transparent;
            border: 1px solid #EEEEEE;
            color: $color-white;
        }
    }
    .login__area-sign{
        background-color: transparent;
        border: 1px solid $color-primary;
        transition: .3s all linear;
        &:hover{
            background: $color-primary;
            box-shadow: 0px 0px 30px rgba(0, 255, 226, 0.8);
            backdrop-filter: blur(7.5px);
            color: $color-dark-2 !important;
        }
    }
    .popup__icon{
        filter: brightness(100);
    }
}
.popup__login.block{
    display: block;
}
.popup__register.block{
    display: block;
}
.offcanvas-overlay {
    position: fixed;
    background: rgba(32, 35, 74, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
.offcanvas-overlay.overlay-open {
    opacity: 1;
    visibility: visible;
}