.single{
    &__product{
        margin: 100px 0;
        @media only screen and (max-width: $tab-port) {
            margin: 18px 0;
        }
        &-item{
            li{
                .nav-link{
                    max-width: 160px;
                }
            }
        }
        &-bigthumb{
            border: 1px solid #20234a45;
            box-shadow: 0px 0px 15px 2px rgba(32, 35, 74, 0.4);
            border-radius: 12px;
            padding: 100px 50px;
            margin-bottom: 30px;
            max-height: 430px;
            @media only screen and (max-width: $mbl-port) {
                padding: 0 50px;
            }
        }
        &-title{
            font-weight: 600;
            font-size: 42px;
            line-height: 1.2;
            color: $color-dark-2;
            text-transform: capitalize;
            margin-bottom: 10px;
            @media only screen and (max-width: $laptop-port) {
                font-size: 18px;
            }
            @media only screen and (max-width: $tab-port) {
                font-size: 18px;
            }
        }
        &-pricebtn{
            font-weight: 700;
            font-size: 42px;
            color: $color-dark-2;
            display: inline-block;
            margin-right: 30px;
            @media only screen and (max-width: $tab-port) {
                font-size: 30px;
            }
            &:first-of-type{
                color: #979797;
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
        .review-star{
            padding-top: 20px;
            i{
                color: #FFB503;
                font-size: 24px;
            }
        }
        &-star{
            padding: 15px 0;
            color: #FFB503;
            font-size: 22px;
        }
        &-feature{
            margin-bottom: 20px;
            padding-top: 15px;
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 2;
                color: $color-dark-3;
                margin-bottom: 20px;
            }
        }
        &-featurlist{
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            color: $color-dark-3;
            li{
                list-style: none;
            }
        }
        &-title2{
            font-weight: 600;
            font-size: 22px;
            line-height: 1.5;
            color: $color-dark-3;
            margin-bottom: 30px;
        }
        &-cart{
            display: inline-block;
            padding: 10px 5px;
            background-color: $color-dark-2;
            color: $color-white;
            width: 80px;
        }
        &-cart2{
            display: inline-block;
            padding: 14px 43px;
            background-color: #F0F2F1;
            color: #20234A;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 14px;
        }
        &-heart{
            padding: 10px 15px;
            display: inline-block;
            background-color: $color-dark-2;
            color: $color-white;
            margin-right: 5px;
        }
        &-buy{
            display: inline-block;
            color: $color-white !important;
            background-color: $color-dark-2;
            padding: 15px 40px;
            margin-top: 30px;
        }
        &-categories{
            margin-top: 40px;
            display: flex;
            ul{
                &:first-of-type{
                    flex-basis: 180px;
                }
            }
            li{
                list-style: none;
                margin-bottom: 15px;
            }
        }
        &-social{
            span{
                display: inline-block;
                padding-right: 20px;
                font-size: 18px;
            }
            a{
                display: inline-block;
                margin-right: 15px;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
        &-cat{
            li{
                color: #444444;
                font-weight: 600;
            }
        }
    }
    &__additional{
        &-wrapper{
            display: grid;
            grid-template-columns: auto auto;
            margin-top: 70px;
            @media only screen and (max-width: $tab-land) {
                grid-template-columns: auto;
                margin-top: 15px;
            }
        }
        &-title{
            font-size: 32px;
            color: $color-dark-2;
            margin-bottom: 30px;
            @media only screen and (max-width: $tab-port) {
                font-size: 30px;
            }
            @media only screen and (max-width: $mbl-land) {
                font-size: 20px;
            }
        }
        &-dis1{
            font-size: 16px;
            line-height: 1.2;
            color: $color-dark-3;
            margin-bottom: 0;
        }
        &-dis2{
            padding: 40px 0;
            @media only screen and (max-width: $mbl-land) {
                padding: 22px 0;
            }
        }
        &-left{
            p{
                margin-bottom: 40px;
                font-size: 22px;
                @media only screen and (max-width: $mbl-land) {
                    margin-bottom: 20px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &-right{
            img{
                max-width: 100%;
                @media only screen and (max-width: $tab-land) {
                    padding-top: 30px;
                }
            }
        }
        &-rules{
            li{
                list-style: none;
                margin-bottom: 10px;
            }
        }
        &-rulestitle{
            margin-bottom: 20px;
        }
        .nav-link {
            font-size: 22px;
            color: $color-dark-3;
            text-transform: capitalize;
            line-height: 1.5;
            background: transparent;
            @media only screen and (max-width: $mbl-land) {
                font-size: 16px;
            }
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            background-color: transparent !important;
            color: $color-dark-2;
            border: 0;
            text-decoration: underline;
            text-underline-offset: 10px;
            font-weight: 700;
        }
    }
}

li.single__product-item.nav-item .nav-link {
    border: 0;
    box-shadow: 0px 0px 10px 1px rgba(32, 35, 74, 0.25);
    border-radius: 12px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 0.5px solid #20234a4f;
    @media only screen and (max-width: $laptop-port) {
        width: 200px;

    }    
    @media only screen and (max-width: $tab-land) {
        height: 110px;
        margin-right: 5px;
        width: 150px;
    }
    @media only screen and (max-width: $mbl-land) {
        width: 83px;
        height: 75px !important;
    }
}

li.single__product-item.nav-item .nav-link img {
    width: 117px;
    @media only screen and (max-width: $mbl-land) {
        width: 50px !important;
    }
}
.full-view {
    text-align: center;
    img{
        max-width: 100%;
    }
}
.single__product-cart{
    span{
        display: inline-block;
        padding: 0 10px;
    }
}
.related__products {
    margin-top: 100px;
    margin-bottom: 100px;
    @media only screen and (max-width: $mbl-port) {
        margin-top: 42px;
        margin-bottom: 70px;
    }
    .items__item {
        margin: 7px;
    }
}
.dark{
    .single__product-title{
        color: $color-primary;
    }
    .single__product-pricebtn{
        color: $color-white;
    }
    .single__product-feature p{
        color: $color-white;
    }
    .single__product-featurlist{
        color: $color-white;
    }
    .single__product-title2{
        color: $color-white;
    }
    .single__product-cat li{
        color: $color-white;
    }
    .single__additional .nav-link {
        color: $color-white;
    }
    .single__additional-title{
        color: $color-primary;
    }
    .single__additional-left p{
        color: $color-white;
    }
    .single__product-cart{
        background-color: $color-primary;
    }
    .single__product-heart{
        border: 1px solid $color-primary;
        background-color: transparent;
        &:hover{
            background: $color-primary;
            box-shadow: 0px 0px 30px rgba(0, 255, 226, 0.8);
            backdrop-filter: blur(7.5px);
            color: $color-dark-2;
        }

    }
    .single__product-buy{
        background-color: $color-primary;
        color: $color-dark-2 !important;
    }
    li.single__product-item.nav-item .nav-link {
        background: #19212F;
        border: 1px solid rgba(0, 255, 226, 0.25);
        border-radius: 12px;
    }
    .single__additional .nav-pills .nav-link.active, .single__additional .nav-pills .show > .nav-link {
        color: $color-primary;
    }
}
.single__product-item.nav-item {
    @media only screen and (max-width: $tab-port) {
        margin-bottom: 15px;
    }
    @media only screen and (max-width: $laptop-port) {
        margin-bottom: 15px;
        &:nth-child(2){
            button{
                margin-right: 0;
            }
        }
    }
}
ul#dfde {
    @media only screen and (max-width: $laptop-port) {
        justify-content: center;

    }
    @media only screen and (max-width: $tab-port) {
        justify-content: center;
    }
    @media only screen and (max-width: $mbl-port) {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}
.related{
    &__products{
        &-wrapper{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 10px;
            @media only screen and (max-width: $tab-port) {
                grid-template-columns: auto auto;
            }
            @media only screen and (max-width: $mbl-port) {
                grid-template-columns: auto;
            }
        }
        &-title{
            font-size: 36px;
            color: $color-dark-2;
            text-align: center;
            margin-bottom: 50px;
            text-transform: uppercase;
            @media only screen and (max-width: $mbl-port) {
                font-size: 22px;
                margin-bottom: 0;
            } 
        }
    }
}
.specefications{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 40px;
    @media only screen and (max-width: $mbl-port) {
        padding: 10px 0;
    }
    &__list{
        li{
            display: grid;
            grid-template-columns: auto 500px;
            padding: 0;
            list-style: none;
            font-size: 20px;
            margin-bottom: 18px;
            padding: 10px 0;
            border-bottom: 1px solid #F6F7FB;
            padding-left: 40px;
            @media only screen and (max-width: $mbl-port) {
                grid-template-columns: auto;
                padding-left: 20px;
            }
            &:first-child{
                background-color: #F6F7FB;
                padding: 8px 0;
                padding-left: 40px;
                @media only screen and (max-width: $mbl-port) {
                    padding-left: 20px;
                }
            }
        }
    }
}
.single__product-social {
    padding-top: 15px;
}

.dark{
    .single__product-bigthumb{
        background: #19212F;
        border: 2px solid #00FFE2;
        box-shadow: 0px 0px 30px 2px rgba(0, 255, 226, 0.25);
        border-radius: 10.7463px;
    }
    .tab-pane.fade.show.active{
        border: 0;
    }
    .breadcrumb-item.active{
        border: 0;
    }
    .single__product-items{
        box-shadow: none !important;
    }
    button.increment_decrement{
        background-color: $color-primary;
        color: #000;
    }
    .related__products-title{
        color: $color-primary;
    }
    .specefications__list li:first-child {
        background-color: #D9D9D9;
        span{
            color: #545454;
        }
    }
    .specefications {
        background: #19212F;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        padding: 40px;
    }
    .specefications__list li {
        border: 1px solid #F6F7FB;
    }
}
.single__additional-left {
    padding-right: 30px;
}

.reviews{
    &__area{
        &-header{
            margin-bottom: 70px;
        }
        &-title{
            font-weight: 600;
            font-size: 28px;
            line-height: 32px;
            text-transform: capitalize;
            color: #20234A;
            padding-bottom: 10px;
            border-bottom: 1px solid #777777;
        }
        &-item{
            display: grid;
            grid-template-columns: 80px auto 110px;
            background: $color-white;
            box-shadow: 0px 0px 20px 2px rgba(32, 35, 74, 0.1);
            padding: 15px;
            margin-bottom: 30px;
            .thumb{
                img{
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    max-width: 100%;
                }
            }
            .content{
                h3{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 1.5;
                    text-transform: capitalize;
                    color: #000000;
                }
                span{
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #777777;
                    display: block;
                    margin-bottom: 5px;
                }
                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.2;
                    text-transform: capitalize;
                    color: #222222;
                }
            }
            .star{
                i{
                    color: #FFB503;
                }
            }
        }
        &-login{
            background: $color-white;
            box-shadow: 0px 0px 20px 2px rgba(32, 35, 74, 0.1);
            padding: 25px;
            margin-bottom: 20px;
            h3{
                font-weight: 700;
                font-size: 32px;
                line-height: 1;
                text-transform: capitalize;
                color: #000000;
                margin-bottom: 20px;
            }
        }
        &-field{
            margin-bottom: 35px;
            label{
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                text-transform: capitalize;
                color: #000000;
                display: block;
                margin-bottom: 10px;
            }
            input{
                display: block;
                height: 46px;
                border: 1px solid #999999;
                border-radius: 10px;
                width: 100%;
                padding: 15px;
            }
            select{
                display: block;
                height: 46px;
                border: 1px solid #999999;
                border-radius: 10px;
                width: 100%;
                padding: 15px;
            }
            textarea{
                height: 100px;
                border: 1px solid #999999;
                border-radius: 10px;
                padding: 15px;
                width: 100%;
                resize: none;
            }
        }
    }
}

.dark{
    .reviews{
        &__area{
            &-title{
                color: $color-white;
                border-bottom: 1px solid #999999;
            }
            &-item{
                background: #19212F;
                border: 1px solid rgba(0, 255, 226, 0.2);
                box-shadow: 0px 0px 20px 2px rgba(32, 35, 74, 0.1);
                .content{
                    h3{
                        color: #FFFFFF;
                    }
                    span{
                        color: #FFFFFF;

                    }
                    p{
                        color: #FFFFFF;

                    }
                }
                .star{
                    i{
                        color: #FFB503;
                    }
                }
            }
            &-login{
                background: #19212F;
                border: 1px solid rgba(0, 255, 226, 0.2);
                box-shadow: 0px 0px 20px 2px rgba(32, 35, 74, 0.1);
                h3{
                    color: #ffff;
                }
            }
            &-field{
                label{
                    color: #ffff;
                    
                }
                input{
                    border: 1px solid #DDDDDD;
                    background-color: transparent;
                    &::placeholder{
                        color: #DDDDDD;
                    }
                }
                textarea{
                    border: 1px solid #DDDDDD;
                    background-color: transparent;
                    &::placeholder{
                        color: #DDDDDD;
                    }
                }
            }
        }
    }   
}