h1.heading {
    font-weight: 700;
    font-size: 48px;
	line-height: 1.5;
	color: $color-black;
	font-family: $font-primary;

	@media only screen and (max-width: $tab-land) {
		font-size: 4rem;
	}
	@media only screen and (max-width: $mbl-land) {
		font-size: 3.2rem;
	}
}

h2.heading {
	font-size: 36px;
	color: $color-black;
	font-weight: 700;
	font-family: $font-primary;
	line-height: 1.5;
	margin-bottom: 10px;

	@media only screen and (max-width: $tab-land) {
		font-size: 2rem;
		line-height: 3rem;
		margin-bottom: 5px;
	}
	// @media only screen and (max-width: $mbl-land) {
	// 	font-size: 2.6rem;
	// 	line-height: 3.5rem;
	// }
}

h3.heading {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 1.5;
	font-family: $font-primary;
}

h4.heading {
	font-size: 1.8rem;
	color: $color-black;
	line-height: 2.5rem;
	font-weight: 600;
}
h5.heading {
	font-size: 1.4rem;
	color: $color-black;
	line-height: 1.8rem;
	font-weight: 400;
}

.text {
	font-size: 1.6rem;
	font-weight: 400;
	font-family: $font-primary;
	color: #444444;

	@media only screen and (max-width: $tab-land) {
		font-size: 1.4rem;
	}
}

a:link,
a:visited {
	font-size: 1.4rem;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
	color: #000133;
	font-family: $font-primary;
}

@mixin pos-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin img-size {
	height: 100%;
	width: 100%;
}

@mixin icon-vector {
	height: 2rem;
	width: 2rem;
}
